/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Tahoma-Regular';
  src: url("../fonts/tahoma.eot");
  src: url("../fonts/tahoma.eot") format("embedded-opentype"), url("../fonts/tahoma.woff2") format("woff2"), url("../fonts/tahoma.woff") format("woff"), url("../fonts/tahoma.ttf") format("truetype"), url("../fonts/tahoma.svg#TahomaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("../fonts/GothamRounded-Medium.eot");
  src: url("../fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium.svg#$GothamRounded-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../sass/compass/lib/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/compass/lib/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../sass/compass/lib/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/compass/lib/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/compass/lib/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../sass/compass/lib/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../sass/compass/lib/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../sass/compass/lib/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../sass/compass/lib/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* unvisited link */
/* line 42, ../sass/screen.scss */
a:link {
  color: #F8F8F8;
}

/* visited link */
/* line 47, ../sass/screen.scss */
a:visited {
  color: #EEEEEE;
}

/* mouse over link */
/* line 52, ../sass/screen.scss */
a:hover {
  color: #FFFFFF;
}

/* link as it is clicked */
/* line 57, ../sass/screen.scss */
a:active {
  color: #EEEEFF;
}

/* line 61, ../sass/screen.scss */
h1, h2 {
  margin: 0;
}

/* line 65, ../sass/screen.scss */
html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
}

/* line 71, ../sass/screen.scss */
p {
  margin: 2.0em 3.0em 2.0em 0;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  color: #333333;
}

/* line 78, ../sass/screen.scss */
.header-menu {
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.625em;
  margin: 0 0 0.3em 0;
  text-decoration: none;
}

/* line 85, ../sass/screen.scss */
span.header-menu {
  color: #A3A3A3;
}

/* line 89, ../sass/screen.scss */
.search-background {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 95, ../sass/screen.scss */
.main-title {
  font-family: GothamRounded-Medium, sans-serif;
  color: #292929;
}

/* line 100, ../sass/screen.scss */
.nav-menu-item {
  display: inline;
  font-family: GothamRounded-Medium, sans-serif;
  color: #1DA7DD;
}

/* line 106, ../sass/screen.scss */
.nav-menu-item a {
  padding: 1em;
  -moz-border-radius-bottomleft: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  -moz-border-radius-bottomright: 0.25em;
  -webkit-border-bottom-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  margin: 0;
  display: inline-block;
  position: relative;
  top: -0.75em;
  z-index: 10;
  text-decoration: none;
}

/* unvisited link */
/* line 118, ../sass/screen.scss */
.nav-menu-item a:link {
  color: #1DA7DD;
}

/* visited link */
/* line 123, ../sass/screen.scss */
.nav-menu-item a:visited {
  color: #1DA7DD;
}

/* mouse over link */
/* line 128, ../sass/screen.scss */
.nav-menu-item a:hover {
  color: #1DA7DD;
  background: #292929 url("../images/noise.png");
}

/* link as it is clicked */
/* line 134, ../sass/screen.scss */
.nav-menu-item a:active {
  color: #1DA7DD;
}

/* line 137, ../sass/screen.scss */
.content-section-title {
  height: 1.75em;
  max-width: 38em;
  min-width: 320em/16;
  background: #292929;
}

/* line 144, ../sass/screen.scss */
.content-section-title-left {
  max-width: 30.25em;
  min-width: 20em;
  display: inline;
}

/* line 150, ../sass/screen.scss */
.content-section-title-text {
  position: relative;
  top: 0.25em;
  left: 1em;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  color: #DDDDDD;
}

/* line 160, ../sass/screen.scss */
.content-section-title-right {
  background: #D5D5D5;
  width: 1.75em;
  height: 1.75em;
  display: block;
  float: right;
  padding: 0;
  border: 0;
  margin: 0;
}

/* line 171, ../sass/screen.scss */
.content-section-title-right-plus {
  background-image: url("../images/greyplus.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 177, ../sass/screen.scss */
.content-section-title-right-dash {
  background-image: url("../images/bluedash.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 183, ../sass/screen.scss */
.significant-content-section-title-right {
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

/* line 187, ../sass/screen.scss */
.content-section {
  padding: 0 2em;
}

/* line 191, ../sass/screen.scss */
.content-section-image {
  float: right;
  margin: 2em;
}

/* line 196, ../sass/screen.scss */
.significant-first-child {
  -moz-border-radius-topleft: 0.25em;
  -webkit-border-top-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

/* line 200, ../sass/screen.scss */
.new-content-indicator {
  height: 0.45em;
  padding: 0.25em;
  -webkit-border-radius: 0.25em 0.25em;
  -moz-border-radius: 0.25em / 0.25em;
  border-radius: 0.25em / 0.25em;
  margin: 1.625em 1.25em 0 0;
  display: inline;
  float: right;
  background: #6DCFF6;
}

/* line 210, ../sass/screen.scss */
.new-content-indicator-text {
  padding: 0;
  border: 0;
  margin: auto;
  position: relative;
  top: -8px;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  color: #FFFFFF;
}

/* line 222, ../sass/screen.scss */
.content-right-divider {
  margin: 0 1.5em;
  border: none;
  height: 1px;
  /* old IE */
  color: #757575;
  /* Modern Browsers */
  background-color: #757575;
}

/* line 232, ../sass/screen.scss */
#page {
  min-width: 320px;
  width: 100%;
  background-color: #FFFFFF;
}

/* line 238, ../sass/screen.scss */
#header-section {
  width: 100%;
  /*decided against the base64 encoded image in the CSS*/
  /*background: #292929 url('data:image/png;base64,iVBORw0KGgoA...ytpijCO9OGQAAAAASUVORK5CYII=');*/
  background: #292929 url(../images/noise.png);
  position: relative;
}

/* line 246, ../sass/screen.scss */
#header {
  max-width: 74.375em;
  width: 100%;
  height: 7.5em;
  margin-left: auto;
  margin-right: auto;
}

/* line 254, ../sass/screen.scss */
#header-menu {
  margin: 0.25em 1.5em 0 0;
  display: block;
  float: left;
}

/* line 260, ../sass/screen.scss */
#header-search-container {
  display: block;
  float: left;
  margin: 0.25em 0 0 0;
}

/* line 266, ../sass/screen.scss */
#header-search {
  width: 9em;
  height: 1.625em;
  padding-right: 0;
  border: 0 none;
  margin-right: 0;
  display: inline;
}

/* line 275, ../sass/screen.scss */
#header-search-go {
  width: 1.5em;
  height: 1.625em;
  display: inline;
  padding-left: 0;
  border: 0 none;
  border-left: 0;
  margin-left: 0;
  background-image: url("../images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 288, ../sass/screen.scss */
#logo {
  position: absolute;
  left: -1.875em;
}

/* line 293, ../sass/screen.scss */
#logo-hack {
  width: 60.8%;
  height: 5em;
  float: left;
  display: block;
}

/* line 300, ../sass/screen.scss */
#nav-section {
  width: 100%;
  max-width: 60em;
  min-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

/* line 308, ../sass/screen.scss */
#nav {
  padding: 0;
  margin: 0.75em 0 3em;
}

/* line 313, ../sass/screen.scss */
#content {
  width: 100%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

/* line 320, ../sass/screen.scss */
#content-left {
  width: 100%;
  max-width: 40em;
  min-width: 20em;
  float: left;
  display: block;
}
/* line 327, ../sass/screen.scss */
#content-left .subtitle {
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  color: #1DA7DD;
}

/* line 335, ../sass/screen.scss */
#content-right {
  width: 20em;
  float: left;
  display: block;
  background: #9D9D9D;
  -webkit-border-radius: 0.25em 0.25em;
  -moz-border-radius: 0.25em / 0.25em;
  border-radius: 0.25em / 0.25em;
}
/* line 342, ../sass/screen.scss */
#content-right div.content-section-right h2 {
  margin: 1.5em 0 0 1.5em;
  display: inline-block;
  background: #9D9D9D;
}
/* line 348, ../sass/screen.scss */
#content-right .content-section-title {
  display: inline;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #404040;
}
/* line 356, ../sass/screen.scss */
#content-right p {
  padding: 0em;
  border: 0 none;
  margin: 1em 2em 2em 2em;
  font-size: 0.75em;
  color: #FFFFFF;
}

/* line 365, ../sass/screen.scss */
#footer-section {
  clear: both;
  background: #DDDDDD;
  position: relative;
  top: 2em;
}

/* line 372, ../sass/screen.scss */
#footer {
  max-width: 60em;
  padding: 1.25em;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
}

/* line 380, ../sass/screen.scss */
#copyright {
  float: left;
  display: inline;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  color: #494949;
}

/* line 388, ../sass/screen.scss */
#footer-menu {
  float: right;
  display: inline;
}
/* line 392, ../sass/screen.scss */
#footer-menu a, #footer-menu span {
  display: inline;
  font-family: Tahoma-Regular, sans-serif;
  font-size: 0.75em;
  color: #494949;
  text-decoration: none;
}
